.full_bg
{
  background-image: url("../img/bg_full.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.main__mobile
{
  display: none;
}

.main__desktop
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__text
{
  width: 50%;
}

.main__title
{
  font-family: 'SF-Black', sans-serif;
  font-size: 40px;
  color: #000;
  margin-left: 100px;

}

.title__span
{
  color: #0071ff;
}

.main__description
{
  font-family: "SF-Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-left: 100px;
}
.description__span
{
  font-family: "SF-Bold", sans-serif;
}

.main__button
{
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 50px;
  background-color: #0071ff;
  font-family: "SF-Bold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-left: 90px;
  margin-top: 0px;
  cursor: pointer;
}

.main__button:active, .main__button:focus {
  outline: none !important;
}

.main__button::-moz-focus-inner {
  border: 0 !important;
}

.main__button:focus
{
  background-color: #0559c2;
}

.main__button:active
{

  background-color: #044eab;
}

.button_description
{
  position: relative;
  bottom: 10px;
  right: 10px;
}

.button_description::after
{
  content: "";
  position: absolute;
  width: 21px;
  height: 15px;
  background-image: url("../img/arr_icon.png");
  margin-left: 10px;
  margin-top: 7px;
}

.main__img
{
  width: 30%;
  position: relative;
  left: 0px;
  bottom: 30px;
}

.main__img img
{
  height: 400px;
  position: relative;
  left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1270px) {

  .main
  {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .main__desktop
  {
    justify-content: space-around;
  }

  .main__title
  {
    width: 330px;
    font-family: 'SF-Black', sans-serif;
    font-size: 30px;
    color: #000;
    margin-left: 40px;

  }

  .main__description
  {
    margin-left: 40px;
  }

  .main__img
  {
    width: auto;
    position: relative;
    left: 0px;
    bottom: 45px;
  }

  .main__img img {
    height: 340px;
    position: relative;
    left: 0px;
    margin-top: 30px;
}

.main__button
{
  width: 210px;
  height: 55px;
  margin-left: 40px;
  margin-top: 20px;
}

.main__button:focus
{
  background-color: #0559c2;
}

.main__button:active
{

  background-color: #044eab;
}

.button_description {
    position: relative;
    bottom: 5px;
    right: 10px;
}


.button_description::after {

    content: "";
    position: absolute;
    width: 21px;
    height: 15px;
    background-image: url("../img/arr_icon.png");
    margin-left: 15px;
    margin-top: 10px;

}
   .main__mobile
   {
     display: none;
   }

}

@media screen and (min-width: 320px) and (max-width: 767px) {


  .main__desktop
  {
    display: none;
  }

  .main__mobile
  {
    display: block;
  }

  .main
  {
    margin-top: 0px;
  }

  .main__text
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .main__title
  {
    font-family: 'SF-Black', sans-serif;
    font-size: 32px;
    color: #000;
    margin-left: 0px;
    text-align: center;
    width: 280px;

  }

  .title__span
  {
    color: #0071ff;
  }

  .main__description
  {
    font-family: "SF-Medium", sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0px;
    width: 280px;
    text-align: center;
  }
  .description__span
  {
    font-family: "SF-Bold", sans-serif;
  }

  .main__button
  {
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #0071ff;
    font-family: "SF-Bold", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
  }

  .main__button:hover
  {
    background-color: #0559c2;
  }

  .main__button:active
  {
    background-color: #044eab;
  }

  .button_description
  {
    position: relative;
    bottom: 10px;
    right: 10px;
  }

  .button_description::after
  {
    content: "";
    position: absolute;
    width: 21px;
    height: 15px;
    background-image: url("../img/arr_icon.png");
    margin-left: 20px;
    margin-top: 7px;
  }

  .main__img
  {
    width: 280px;
    position: relative;
    bottom: 0;
  }

  .main__img img
  {
    height: 200px;
    position: relative;
    left: 0px;
    margin-left: 40px;
  }

}
