.page_header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page_header__logo
{
  width: 175px;
  height: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

.menu__list
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-left: -250px;
}

.menu__item
{
  padding-right: 70px;
  font-family: "SF-Semibold", sans-serif;
  font-size: 15px;
  padding-top: 30px;
}

.menu__item:nth-child(4)
{
  padding-right: 0;
}

.menu__item a
{
  text-decoration: none;
  cursor: pointer;
  color: #404040;
}

.menu__item a:focus
{
  color: #0071ff;
  border-bottom: 1px solid #0071ff;
}

.menu__item a:active
{
  color: #0071ff;
  border-bottom: 1px solid #0071ff;
}

.page_header__login--tablet
{
  display: none;
}

.login_auth
{
  padding-top: 30px;
}

.login_auth::before
{
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  background-image: url("../img/login_icon.png");
  margin-left: -185px;
  margin-top: -2px;
}

.login_auth a
{
  font-family: "SF-Semibold", sans-serif;
  font-size: 15px;
  padding-top: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  margin-left: -150px;
}

@media screen and (min-width: 768px) and (max-width: 1270px) {

  .menu__list
  {
    display: none;
  }

  .page_header__logo
  {
    display: none;
  }

  .page_header__login
  {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .menu__list
  {
    display: none;
  }

  .page_header__logo
  {
    display: none;
  }

  .page_header__login
  {
    display: none;
  }


}
