.payment
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-image: url("../img/payment_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-top: -45px;
  margin-left: 0px;
  margin: 0 auto;
}

.payment__img
{
  width: 60%;
  overflow: hidden;
  position: relative;
  left: 48px;
}


.payment__mocup {
  position: relative;
}

.payment__mocup--mobile img
{
  display: none;
}


 .payment__mocup img {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 100%;
  height: auto;
}

.payment__description
{
  width:40%;
  margin-left: 0px;
  padding-right: 80px;
  margin-bottom: 10px;
  position: relative;
  left: 0px;
}

.payment__title
{
  width: 400px;
  font-family: "SF-Black", sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #cccccc;
  padding-top: 130px;
  padding-right: 80px;
}

.payment__title--mobile
{
  display: none;
}

.payment__list
{
  width: 350px;
  padding-top: 20px;
  padding-bottom: 40px;
  list-style-image: url("../img/item_icon.png");
  position: relative;
  bottom: 20px;
}

.payment__item
{
  font-family: "SF-Medium", sans-serif;
  font-size: 13px;
  line-height: 23px;
  padding-bottom: 10px;
  color: #cccccc;
}

.payment__item:nth-child(3)
{
  padding-bottom: 0px;
}

.payment__item span
{
  position: relative;
  bottom: 8px;
  left: 15px;
}

.payment__button
{
    width: 190px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: #0071ff;
    font-family: "SF-Bold", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    bottom: 60px;
    cursor: pointer;
}

.payment__button:hover
{
  background-color: #0559c2;
}

.payment__button:active
{

  background-color: #044eab;
}

.payment__geo
{
  width: 450px;
  font-family: "SF-Medium", sans-serif;
  font-size: 12px;
  line-height: 27px;
  color: #cccccc;
  padding-top: 90px;
  margin-left: 20px;
  position: relative;
  bottom: 130px;
}

.payment__geo::after
{
  content: "";
  position: absolute;
  width: 33px;
  height: 22px;
  background-image: url("../img/rf_icon.png");
  margin-left: 15px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1270px) {

  .payment
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    background-image: url("../img/bg_payment_tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  .payment__img
  {
    width: 100%;
    overflow: hidden;
    position: relative;
    left: 0px;
    margin-top: 40px;
  }

  .payment__mocup--mobile img
  {
    display: none;
  }

  .payment__mocup {
    position: relative;
  }
  .payment__mocup img {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 420px;
}

  .payment__description
  {
    width:35%;
    margin-left: 0px;
    padding-right: 130px;
    margin-bottom: 10px;
    position: relative;
    left: 0px;
    margin-top: 50px;
  }

  .payment__title--mobile
  {
    display: none;
  }

  .payment__title {
      width: 350px;
      font-family: "SF-Black", sans-serif;
      font-size: 24px;
      line-height: 30px;
      color: #cccccc;
      padding-top: 20px;
      padding-right: 0px;
  }

  .payment__list
  {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 40px;
    list-style-image: url("../img/item_icon.png");
    position: relative;
    bottom: 20px;
  }

  .payment__item
  {
    font-family: "SF-Medium", sans-serif;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    color: #cccccc;
  }

  .payment__button {
      width: 210px;
      height: 50px;
      border: none;
      border-radius: 50px;
      background-color: #0071ff;
      font-family: "SF-Bold", sans-serif;
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      margin-left: 0px;
      margin-top: 0px;
      cursor: pointer;
      margin-top: 25px;
      margin-left: -115px;
      position: relative;
      cursor: pointer;
  }

  .payment__button:focus
  {
    background-color: #0559c2;
  }

  .payment__button:active
  {

    background-color: #044eab;
  }

  .button_description::after {

      content: "";
      position: absolute;
      width: 21px;
      height: 15px;
      background-image: url("../img/arr_icon.png");
      margin-left: 15px;
      margin-top: 5px;

  }

.payment__geo {
    width: 450px;
    font-family: "SF-Medium", sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #cccccc;
    padding-top: 80px;
    margin-left: -210px;
    position: relative;
}

.payment__geo::after
{
  display: none;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .payment
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-image: url("../img/payment_mobile_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-position: center;
  }

  .payment__mocup {

    position: relative;
    right: 10px;

}

  .payment__img
  {
    width: 280px;
    margin-top: 0px;
    left: 0;
    margin: 0 auto;
  }

  .payment__mocup--desktop img
  {
    display: none;
  }

  .payment__mocup--mobile img {
      display: block;
      position: relative;
      left: 0;
      top: 0px;
      width: 280px;
      height: auto;
      margin-left: 20px;
      margin-top: 20px;
  }

  .payment__title {
    width: 70%;
    font-family: "SF-Black", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #cccccc;
    padding-right: 0px;
    text-align: center;
    margin: 0 auto;
}

.payment__title--desktop
{
  display: none;
}

.payment__title--mobile
{
  display: block;
}

.payment__description {
    width: 80%;
    margin-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    position: relative;
    left: 0px;
    margin: 0 auto;
}

.payment__list {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 40px;
    list-style-image: url("../img/item_icon.png");
    position: relative;
    bottom: 20px;
    margin: 0 auto;
}

.payment__item {
    font-family: "SF-Medium", sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 12px;
    color: #cccccc;
}

.payment__item span {

    position: relative;
    bottom: 8px;
    left: 0px;

}

.payment__button
{
  display: none;
}


.payment__geo::after {

    display: none;

}
.payment__geo::after {

    content: "";
    position: absolute;
    width: 33px;
    height: 22px;
    background-image: url("../img/rf_icon.png");
    margin-left: 15px;
    margin-top: 0px;

}
.payment__geo::before {

    content: "";
    position: absolute;
    width: 25px;
    height: 16px;
    background-image: url("../img/flag_mobile.png");
    margin-left: -35px;
    margin-top: 5px;

}

.payment__geo {

    width: 60%;
    font-family: "SF-Medium", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #cccccc;
    padding-top: 0px;
    margin-left: 70px;
    position: relative;
    bottom: 70px;
    margin-bottom: 40px;
    margin: 0 auto;
    padding-top: 20px;

}

.payment__geo::before
{
  content: "";
  position: absolute;
  width: 25px;
  height: 16px;
  background-image: url("../img/flag_mobile.png");
  margin-left: -35px;
  margin-top: 5px;
}

.payment__geo::after
{
  display: none;
}

}
